* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #e4f7e9;
  font-family: "Karla", sans-serif;
  min-height: 100vh;
  display: grid;
  place-content: center;
}

label {
  color: #333;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 0.35rem;
  margin-top: 0.5rem;
}

input:focus,
textarea:focus {
  outline: 1px solid green;
  border: 1px solid green;
}

input[type="text"].form-error,
input[type="email"].form-error {
  border: 1px solid red;
}

.required-input {
  color: green;
}

.alert-field {
  display: none;
  color: red;
  margin-top: 0.5rem;
}

.alert-field.form-error {
  display: block;
}

.container {
  background-color: white;
  padding: 2rem;
  border-radius: 1rem;
  margin: 1rem;
}

.container h1 {
  margin-bottom: 1.25rem;
  color: #333;
}

.container .form-group {
  margin-bottom: 1.5rem;
}

.container .form-group:nth-child(1) {
  display: flex;
  gap: 1rem;
}

.container .form-group:nth-child(3) .radio-form {
  margin-top: 0.5rem;
  display: flex;
  gap: 1rem;
}

.container .form-group:nth-child(3) .radio-form .radio-form-group {
  cursor: pointer;
  width: 100%;
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  outline: 1px solid #ccc;
  border-radius: 0.35rem;
}

.container .form-group:nth-child(3) .radio-form .radio-form-group .active {
  background-color: rgb(150, 236, 150);
}

.container .form-group:nth-child(3) input[type="radio"] {
  appearance: none;
  width: 0.5rem;
  height: 0.5rem;
  outline: 2px solid green;
  outline-offset: 3px;
  border-radius: 50%;
}

.container .form-group:nth-child(3) input[type="radio"]:checked {
  background-color: green;
}

.container .form-group:nth-child(3) .radio-form .radio-form-group label {
  cursor: pointer;
  width: 100%;
}

.container .form-group:nth-child(5) div {
  display: flex;
  gap: 1rem;
}

.container .form-group:nth-child(5) input[type="checkbox"] {
  cursor: pointer;
  accent-color: green;
}

.container .form-group:nth-child(5) label {
  cursor: pointer;
}

.container .submit-btn {
  width: 100%;
  padding: 0.75rem;
  border: 0;
  border-radius: 0.35rem;
  background-color: rgb(21, 110, 21);
  color: white;
  cursor: pointer;
  outline: 0;
}

.container .submit-btn:hover {
  background-color: rgb(15, 82, 15);
}

.success-message {
  background-color: darkgrey;
  color: rgb(28, 53, 3);
  width: max-content;
  padding: 1rem;
  pointer-events: none;
  opacity: 0;
  position: fixed;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 0.35rem;
}

.success-message.active {
  display: block;
  pointer-events: all;

  animation-name: fadeOut;
  animation-duration: 5s;
  animation-fill-mode: forwards;
}

@keyframes fadeOut {
  0%, 25%, 50%, 75%{
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.success-message .success-message-content{
    display: flex;
    align-items: center;
    gap: .5rem;
    margin-bottom: .5rem;
    font-weight: bold;
    color: rgb(7, 67, 33);
}

@media (max-width: 380px) {
  .container .form-group:nth-child(1) {
    flex-direction: column;
  }

  .container .form-group:nth-child(3) .radio-form {
    flex-direction: column;
  }

  textarea{
    height: 200px;
  }

  .success-message {
    width: 35ch;
    top: 5%;
  }
}